body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 18px;
    color: #333;
}


/* Estilo predeterminado para pantallas más grandes */
.chart-container-wrapper {
    height: 55%;
    width: 55%;
    display: inline-flex;
}

/* Estilo para dispositivos móviles o pantallas pequeñas */
@media (max-width: 768px) {
    .chart-container-wrapper {
        height: 100%;
        width: 100%;
        display: block;
    }
}
